.main-input {
    background-color: transparent;
    text-align: right;
    padding-left: 92px;
    color: #FCFCFC;
    border: none;
    outline: none;
}

.main-input::placeholder{
    color: #FCFCFC;
}

.container-input {
    display: flex;
    border: 1.5px solid #FCFCFC;
    border-radius: 8px;
    width: 42%;
    height: 40px;
    margin-top: 30px;
    padding-right: 0px;
    gap: 0px;
    margin-bottom: 40px;
}

