@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6C45CE;
}