
.main-title {
    /* font-family: ; */
    font-size: 25px;
    line-height: 34px;
    color: white;
    width: 400px;
    margin-top: 45px;
    text-align: center;
}

.span-day {
    font-size: 25px;
    color: #8758FF;
}